*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#p1{
    color: aqua;
    background-color: rgba(255, 172, 15,0.4);
    font-weight: bold;
    border-radius: 14px;
   /* border-color: red;
    border-style: ridge;*/
    border: 5px double red;

}
#div:hover{
    color: #000099cc;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: red;
    height: 150px;
    width: 600px;
    cursor: pointer;

}