p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.video-title{

    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}

.video-stats{

    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 10px;
}

.video-author{
    color:rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 10px;
}

.vedio-about{
    color: rgb(96, 96, 96);
    font-size: 14px; 
    width: 300px; 
    margin-bottom: 20px;
}

.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227,65,64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.span-element:hover{
    text-decoration: underline;
    cursor: pointer;
    

}

